DJANGO_SECRET_KEY=cambiar-en-cada-instalacion
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DB_ENGINE=postgresql
DB_NAME=NombreDeLaBase
DB_USER=postgres
DB_PASSWORD=colocar_contrasena_local
DB_HOST=localhost
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:5173
ML_OLLAMA_URL=http://127.0.0.1:11434
ML_OLLAMA_MODELO=deepseek-r1:8b
ML_ASISTENTE_PACIENTE_MODELO=deepseek-r1:8b
ML_OLLAMA_TIMEOUT=120
ML_STT_MODELO=small
ML_STT_DISPOSITIVO=cpu
ML_STT_COMPUTE_TYPE=int8
